body {
    background-color: aqua;
    font-family: Arial;
    text-align: center;
    margin: 10px;
}

.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading h1 {
    background-color: blue;
    padding: 20px;
}

.container {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.header-top, .header-bottom {
    background-repeat: repeat;
}

.header-top {
    background-image: url("/assets/stars.gif");
    height: 20vw;
    min-height: 50px;
    max-height: 150px;
}

.header-bottom {
    background-image: url("/assets/blood.gif");
    height: 20px;
}

.header-image {
    width: 100%;
}

.header-links a {
    margin: 1em;
    font-size: large;
}

.guestbook {
    display: inline-block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-button {
    cursor: pointer;
    display: none;
}

.links a {
    margin: 1em;
}

.ads img, .gifs img {
    margin: 1em;
    height: 100px;
}

footer {
    margin-top: 2em;
}

@media (max-width: 800px) {
    .banner {
        display: none;
    }
}
  